<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Jobs</h1>
    <div>&nbsp;</div>
    <form class="form" action="{% url 'search_view' %}" method="get">
      <input type="text" name="q" value="{{ request.GET.q }}" placeholder="search article">
      <button type="submit">Search article</button>
    </form>
    <div>&nbsp;</div>
    {% for job in job_list %}
      <a href="{% url 'job_detail' job.slug %}">{{ job.post }}</a>
      <div>&nbsp;</div>
    {% endfor %}
  </body>
</html>
